# Секреты и переменные окружения
.env
.env.local
.env.*.local

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-link
pip-log.txt
pip-delete-this-directory.txt

# Виртуальные окружения
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
*.sqlite3
staticfiles/
media/
/static/

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Тесты и покрытие
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
htmlcov/

# Jupyter
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Celery
celerybeat-schedule
celerybeat.pid

# Node (если будет фронтенд)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Прототипы (статические HTML-макеты)
Painmetrica/simple_of_pages/

# Claude Code
CLAUDE.md
.claude/

POSTMAN.md
tests.txt